*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
.vs/
out/
build/
x64/
x86/
Debug/
Release/
*.suo
*.user
*.userosscache
*.sln.docstates
CMakeCache.txt
CMakeFiles/
cmake-build-debug/
cmake-build-release/
.vscode/
Thumbs.db
Desktop.ini